* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
    overflow: hidden;
}

.wrapper{
    animation-name: background-change;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}

.wrapper .btn{
    animation-name: button-change;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes background-change{
    0%{background: #225470; color: white;}
    25%{background: rgb(0, 253, 114); color: black}
    50%{background: rgb(251, 255, 0); color: black;}
    75%{background: rgb(0, 253, 114); color: black;}
    100%{background: #225470; color: white;}
} 

@keyframes button-change{
    0%{background: rgb(2, 180, 2); color: white;}
    25%{background: black; color: white; border: 1px solid black;}
    50%{background: black; color: white; border: 1px solid black;}
    75%{background: black; color: white; border: 1px solid black;}
    100%{background: rgb(2, 180, 2); color: white;}
} 

.wrapper {
  height: 100vh;
  background: #225470;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.wrapper .btn{
    padding: 10px;
    color: white;
    border: 1px solid rgb(2, 180, 2);
    border-radius: 5px;
    text-decoration: none;
    background: rgb(2, 180, 2);
}

/*
#wrapper .btn:hover{
background: rgb(2, 180, 2);
border: 1px solid rgb(2, 180, 2);
transition: 1s all;
transition: ease-in-out;
}*/

.wrapper .wt1{
    font-size: 40px;
}

.wrapper .wt2{
    font-size: 18px;
}

.container-1 {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  width: 75%;
  padding-top: 50px;
  margin: 50px auto;
}

.c1t{
    font-size: 30px;
}

.flex-box-container-1 {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.flex-box-container-1 div {
  display: flex;
  padding: 10px;
  align-items: center;
}

.container-1 .flex-box-container-1 .first_click {
    padding: 10px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    background: transparent;
}

.container-1 .flex-box-container-1 .first_click:hover{
    background: rgb(2, 180, 2);
border: 1px solid rgb(2, 180, 2);
transition: 1s all;
transition: ease-in-out;
}

#flex-box-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-top{
    position: absolute;
    top: 155vh;
    right: 20px;
    padding: 10px;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    text-decoration: none;
    background: transparent;
}

.btn-top:hover{
    padding: 10px;
    color: white;
    border: 1px solid rgb(2, 180, 2);

    text-decoration: none;
    background: rgb(2, 180, 2);
}

.footer{
    background: #225470;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-text{
    font-size: 15px;
}

@media (max-width: 560px){
    .wrapper .wt1{
        font-size: 30px;
    }
    
    .wrapper .wt2{
        font-size: 15px;
    }
    
    .container-1 {
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      width: 80%;
      padding-top: 50px;
    }
    .c1t{
        font-size: 22px;
    }
    .container-1 .flex-box-container-1 .first_click {
        padding: 10px 8px;
        margin-right: 0px;
        color: black;
        border: 1px solid black;
        border-radius: 5px;
        text-decoration: none;
        background: transparent;
    }
    .container-1 .flex-box-container-1 .second_click {
        padding: 10px 14px;
        margin-left: 0px;
        color: black;
        border: 1px solid black;
        border-radius: 5px;
        text-decoration: none;
        background: transparent;
    }
    .btn-top{
        position: absolute;
        top: 182vh;
        right: 20px;
    }
}

@media (max-height: 500px){
    .container-1 {
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      width: 80%;
      padding-top: 50px;
      margin: 50px auto;
    }
    .c1t{
        font-size: 20px;
    }
    .btn-top{
        position: absolute;
        top: 151vh;
        right: 20px;
    }
}

